:root {
    /* slate color */
    --color-5: #f8fafc;
    --color-10: #f1f5f9;
    --color-20: #e2e8f0;
    --color-30: #cbd5e1;
    --color-40: #94a3b8;
    --color-50: #64748b;
    --color-60: #475569;
    --color-70: #334155;
    --color-80: #1e293b;
    --color-90: #0f172a;
}
[data-theme='Mocha'] {
    --color-5: white;
    --color-10: white;
    --color-20: white;
    --color-30: white;
    --color-40: white;
    --color-50: black;
    --color-60: black;
    --color-70: black;
    --color-80: black;
    --color-90: #1c1917;
}
button {
    max-height: 28px;
    max-width: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-90);
    border: 1px solid var(--color-60);
    color: var(--color-30);
    border-radius: 6px;
}
button:hover {
    cursor: pointer;
}
svg .logo-color {
    fill: var(--color-50);
}
svg .logo-color-background {
    fill: var(--color-10);
}
/* Standalone Color Classes */
.color-5 {color: var(--color-5)}
.color-10 {color: var(--color-10)}
.color-20 {color: var(--color-20)}
.color-30 {color: var(--color-30)}
.color-40 {color: var(--color-40)}
.color-50 {color: var(--color-50)}
.color-60 {color: var(--color-60)}
.color-70 {color: var(--color-70)}
.color-80 {color: var(--color-80)}
.color-90 {color: var(--color-90)}
/* ---------------------Colors--------------------- */
/* Slate Colors */
.slate-5 {color:#f8fafc }
.slate-10 {color:#f1f5f9 }
.slate-20 {color:#e2e8f0 }
.slate-30 {color:#cbd5e1 }
.slate-40 {color:#94a3b8}
.slate-50 {color:#64748b }
.slate-60 {color:#475569 }
.slate-70 {color:#334155 }
.slate-80 {color:#1e293b }
.slate-90 {color:#0f172a}

/* ---------------------Typeface--------------------- */
/* Size and Spacing */
* {font-family: 'Inter', sans-serif;}
.text-xs {font-size:0.75rem;/*12px*/line-height:1rem;/*16px*/}
.text-sm {font-size:0.875rem;/*14px*/line-height:1.25rem;/*20px*/}
.text-base {font-size:1rem;/*16px*/line-height:1.5rem;/*24px*/}
.text-lg {font-size:1.125rem;/*18px*/line-height:1.75rem;/*28px*/}
.text-xl {font-size:1.25rem;/*20px*/line-height:1.75rem;/*28px*/}
.text-2xl {font-size:1.5rem;/* 24px */line-height:2rem;/*32px*/}
.text-3xl {font-size:1.875rem;/*30px*/line-height:2.25rem;/*36px*/}
.text-4xl {font-size:2.25rem;/*36px*/line-height:2.5rem;/*40px*/}
.text-5xl {font-size:3rem;/*48px*/line-height:1;}
.text-6xl {font-size:3.75rem;/*60px*/line-height:1;}
.text-7xl {font-size:4.5rem;/*72px*/line-height:1;}
.text-8xl {font-size:6rem;/*96px*/line-height:1;}
.text-9xl {font-size:8rem;/*128px*/line-height:1;}
/* Size and Spacing */
.thin {font-weight: 100;}
.extra-light {font-weight:200;}
.light {font-weight:300;}
.normal {font-weight:400;}
.medium {font-weight:500;}
.semi-bold {font-weight:600;}
.bold {font-weight: 700;}
.extra-bold {font-weight: 800;}
.black {font-weight: 900;}

/* Flex */
.flex {display: flex;}
.flex-wrap{flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.flex-row {flex-direction:row;}
.flex-left {width: 100%;}
.justify-content-center{ justify-content: center;}
.justify-content-between{ justify-content: space-between;}
.justify-content-around{ justify-content: space-around;}
.align-items-center{ align-items: center;}
.align-items-start{ align-items: flex-start;}

p {font-size:1rem;/*16px*/line-height:1.5rem;/*24px*/font-weight:400;}
h1 {font-size:1.5rem;/* 24px */line-height:2rem;/*32px*/}
h2 {font-size:1.25rem;/*20px*/line-height:1.75rem;/*28px*/}
h3 {font-size:1.125rem;/*18px*/line-height:1.75rem;/*28px*/}
/* ------------------------------------- */

/* ---------------------Spacing--------------------- */
/* Margin */
.m-0{margin:0rem;}.m-1{margin:1rem;}.m-2{margin:2rem;}.m-3{margin:3rem;}.m-4{margin:4rem;}.m-5{margin:5rem;}
/* margin-left */
.ml-0{margin-left:0rem;}.ml-1{margin-left:1rem;}.ml-2{margin-left:2rem;}.ml-3{margin-left:3rem;}.ml-4{margin-left:4rem;}.ml-5{margin-left:5rem;}
/* margin-right */
.mr-0{margin-right:0rem;}.mr-1{margin-right:1rem;}.mr-2{margin-right:2rem;}.mr-3{margin-right:3rem;}.mr-4{margin-right:4rem;}.mr-5{margin-right:5rem;}
/* margin-top */
.mt-0{margin-top:0rem;}.mt-1{margin-top:1rem;}.mt-2 {margin-top:2rem;}.mt-3{margin-top:3rem;}.mt-4{margin-top:4rem;}.mt-5{margin-top:5rem;}
/* margin-bottom */
.mb-0{margin-bottom:0rem;}.mb-1{margin-bottom:1rem;}.mb-2{margin-bottom:2rem;}.mb-3{margin-bottom:3rem;}.mb-4{margin-bottom:4rem;}.mb-5{margin-bottom:5rem;}
/* margin-left-right */
.mx-0{margin-left:0rem; margin-right:0rem;}.mx-1{margin-left:1rem; margin-right:1rem;}.mx-2{margin-left:2rem; margin-right:2rem;}.mx-3{margin-left:3rem; margin-right:3rem;}.mx-4{margin-left:4rem; margin-right:4rem;}.mx-5{margin-left:5rem; margin-right:5rem;}
/* margin-top-bottom */
.my-0{margin-top:0rem; margin-bottom:0rem;}.my-1{margin-top:1rem; margin-bottom:1rem;}.my-2{margin-top:2rem; margin-bottom:2rem;}.my-3{margin-top:3rem; margin-bottom:3rem;}.my-4{margin-top:4rem; margin-bottom:4rem;}.my-5{margin-top:5rem; margin-bottom:5rem;}

/* Padding */
.p-0{padding:0rem;}.p-1{padding:1rem;}.p-2{padding:2rem;}.p-3{padding:3rem;}.p-4{padding:4rem;}.p-5{padding:5rem;}
/* padding-left */
.pl-0{padding-left:0rem;}.pl-1{padding-left:1rem;}.pl-2{padding-left:2rem;}.pl-3{padding-left:3rem;}.pl-4{padding-left:4rem;}.pl-5{padding-left:5rem;}
/* padding-right */
.pr-0{padding-right:0rem;}.pr-1{padding-right:1rem;}.pr-2{padding-right:2rem;}.pr-3{padding-right:3rem;}.pr-4{padding-right:4rem;}.pr-5{padding-right:5rem;}
/* padding-top */
.pt-0{padding-top:0rem;}.pt-1{padding-top:1rem;}.pt-2 {padding-top:2rem;}.pt-3{padding-top:3rem;}.pt-4{padding-top:4rem;}.pt-5{padding-top:5rem;}
/* padding-bottom */
.pb-0{padding-bottom:0rem;}.pb-1{padding-bottom:1rem;}.pb-2{padding-bottom:2rem;}.pb-3{padding-bottom:3rem;}.pb-4{padding-bottom:4rem;}.pb-5{padding-bottom:5rem;}
/* padding-left-right */
.px-0{padding-left:0rem; padding-right:0rem;}.px-1{padding-left:1rem; padding-right:1rem;}.px-2{padding-left:2rem; padding-right:2rem;}.px-3{padding-left:3rem; padding-right:3rem;}.px-4{padding-left:4rem; padding-right:4rem;}.px-5{padding-left:5rem; padding-right:5rem;}
/* padding-top-bottom */
.py-0{padding-top:0rem; padding-bottom:0rem;}.py-1{padding-top:1rem; padding-bottom:1rem;}.py-2{padding-top:2rem; padding-bottom:2rem;}.py-3{padding-top:3rem; padding-bottom:3rem;}.py-4{padding-top:4rem; padding-bottom:4rem;}.py-5{padding-top:5rem; padding-bottom:5rem;}
/* ------------------------------------------------- */

/* ---------------------Border Radius--------------------- */
.br-1 {border-radius: 1px;}
.br-2 {border-radius: 2px;}
.br-3 {border-radius: 3px;}
.br-4 {border-radius: 4px;}
.br-5 {border-radius: 5px;}
.br-6 {border-radius: 6px;}
.br-7 {border-radius: 7px;}
.br-8 {border-radius: 8px;}
.br-9 {border-radius: 9px;}
.br-10 {border-radius: 10px;}
.br-11 {border-radius: 11px;}
.br-12 {border-radius: 12px;}
.br-13 {border-radius: 13px;}
.br-14 {border-radius: 14px;}
.br-15 {border-radius: 15px;}
.br-16 {border-radius: 16px;}
.br-17 {border-radius: 17px;}
.br-18 {border-radius: 18px;}
.br-19 {border-radius: 19px;}
.br-20 {border-radius: 20px;}



/* ------------------------------------------------- */
/* Nav Start */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-80);
    box-shadow: 0px 1px 3px 0px var(--color-60);
    /* border: #334155 solid 1px; */
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    justify-content: space-around;
    padding: .5rem;
    padding-bottom: 0;
}
.nav-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* column-gap: .5rem; */
}
.nav-container p, .nav-container a {
    font-weight: 500;
    font-size: 14px;
    margin: 0rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem;
    text-decoration: none;
    line-height: 1.5rem;
}
.nav-container p:hover {
    cursor: pointer;
}
.inactive-nav {
    color: var(--color-30);
}
.active-nav {
    color: var(--color-10);
}
.nav-item {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.nav-item a:hover, .nav-item p:hover {
    background-color: var(--color-70);
    padding: .5rem;
    border-radius: 6px;
    border-radius: 6px;
    color: var(--color-10);
}
.nav-line-active {
    border: 1px solid var(--color-40);
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-line-inactive {
    border: 1px solid var(--color-80);
    margin-left: 1rem;
    margin-right: 1rem;
}
/* Nav End */
/* --------------------------------------------------- */

/* Body Start */
body {
    background-color: var(--color-10);
}
/* Body End */
/* --------------------------------------------------- */

/* Fold Start */
#fold {
    flex-direction: row;
    padding: 50px;
    column-gap: 8rem;
    min-height: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fold-intro {
    display: flex;
    flex-direction: column;
    background-color: #f1f5f9;
    padding: .4rem;
    border-radius: 10px;
}
.fold-intro-header {
    color: var(--color-80);
    font-size:4.5rem;
    line-height:1;
    font-weight: bold;
    padding-bottom: 2rem;
}
.fold-intro-about {
    max-width: 700px;
    color:var(--color-60);
    font-size:1.25rem;
    line-height:1.75rem;
    padding-bottom: 3rem;
    font-weight:500;
}
.home-buttons {
    column-gap: 4rem;
    display: flex;
}
.button-text {
    font-size:1.5rem;/* 24px */line-height:2rem;/*32px*/
    font-weight:500;
    margin: 0px;
}
/* Fold Buttons Start */
#about-button {
    height: 64px;
    border-radius: 10px;
    border: none;
    width: 220px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-10);
    border: 3px solid var(--color-80);
    transition: .5s ease-in-out;
}
#about-button:hover {
    transition: .5s ease-in-out;
    background: var(--color-20);
}
#case-study-button {
    height: 64px;
    border-radius: 10px;
    border: none;
    width: 220px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-80);
    border: 3px solid var(--color-80);
    transition: .5s ease-in-out;
}
#case-study-button:hover {
    transition: .5s ease-in-out;
    background: var(--color-90);
}
#about-button:hover , #case-study-button:hover {
    cursor: pointer;
}
/* Fold Buttons End */
/* Fold End */
/* --------------------------------------------------- */

/* About */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background-color:var(--color-90);
}
/* About Button Start */
.contact-button {
    width: 100%;
    height: 40px;
    background-color: var(--color-80);
    border-radius: 10px;
    border: 1px solid var(--color-70);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-30);
    transition: .5s ease-in-out;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.contact-button:hover {
    background-color: var(--color-70);
    border: 1px solid var(--color-60);
    transition: .5s ease-in-out;
}
/* About Button End */
.contact-info {
    color: var(--color-40);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    border: var(--color-80) solid 0px;
    width: 100%;
}
.education {
    color: var(--color-40);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px;
    border: var(--color-80) solid 2px;
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: var(--color-70) 1px solid;
    background-color: var(--color-80);
}
.about-whole-container {
    display: flex;
    max-width: 1200px;
    column-gap: 5rem;
    padding: 3rem;
    align-items: flex-start;
}
.about-right-container {
    width:60%;
    row-gap: 3rem;
}
.headhshot-small-screen {
    margin-bottom: 2rem;
}
img.headhshot-small-screen {
    max-width: 420px;
}
.smscreen-respons {
    align-items: center;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
/* ------------------------------ */
/* Case Studies */
.case-study-header {
    font-weight: bold;
    color: var(--color-20);
    font-size: 3rem;
    line-height: 1;
}
#case-studies {
    background-color: var(--color-80);
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
/* View Case Study Button Start */
.case-study-button-container {
    text-decoration: none;
    border-radius: 6px;
}
.case-study-button-text {
    width: 100%;
    height: 64px;
    border-radius: 6px;
    background-color: var(--color-60);
    font-weight: 500;
    color: var(--color-20);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    transition: .5s ease-in-out;
}
.case-study-button-text:hover {
    background-color: var(--color-70);
    transition: .5s ease-in-out;
}
/* View Case Study Button End */
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    column-gap: 1rem;
}
.tags p {
    margin: 0px;
    margin-bottom: 1rem;
    border-radius: 20px;
    color:var(--color-30);
    font-size:0.875rem;
    line-height:1.25rem;
    background-color: var(--color-80);
    padding: .5rem;
}
.case-study-container-item {
    width: 50%;
}
.case-study-text-container {
    width: 50%;
}
.case-study-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--color-90);
}
/* Case Studies End */

/* ------------------------------ */
/* Design Work Start */
#design-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color:var(--color-90);
}
.design-work-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
}
.design-work-item {
    position: relative;
    height: 400px;
}
.design-work-item img {
    height: 100%;
    border-radius: 8px;
}
.text-overlay {
    background: rgba(0,0,0,0.7);
    color: var(--color-20);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: .5s ease-in-out;
}
.text-overlay:hover {
    opacity: 1;
    transition: .5s ease-in-out;
}
.design-image {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.design-image img {
    display: block;
    width: auto;
    height: auto;
    max-height: 80vh;
    max-width: 100%;
}
.design-image p {
    width: 100%;
    font-style: italic;
    text-align: center;
    color: var(--color-40);
}
/* Design Work End */
/* ------------------------------ */
/* Articles Start */

.article-container {
    padding: 5rem;
    padding-top: 6rem;
    background-color: var(--color-90);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Article Map Begin */
.article-map {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.article-map p, .article-map a {
    color: var(--color-40);
    text-decoration: none;
}
.article-map a:hover {
    text-decoration: underline;
}
/* Article Map End */

/* Article Header Begin */
.article-header {
    max-width: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    flex-grow: 1;
}
.article-title {
    font-size:3rem;
    line-height:1;
    line-height:1;
    color: var(--color-20);
    font-weight: 500;
}
.article-summary {
    background-color: var(--color-80);
    padding: 1rem;
    border-radius: 10px;
}
.article-summary h3 {
    color: var(--color-30);
}
.article-overview {
    color: var(--color-40);
    padding-bottom: 2rem;
}
.article-facts {
    color: var(--color-40);
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.article-facts-half {
    display: flex;
    column-gap: 2rem;
    width: 50%;
}
.article-fact {
    width: 50%;
}
/* Article Header End */
.article-content {
    max-width: 850px;
    width: 100%;
    padding-top: 2rem;
}
.article-content h1 {
    color: var(--color-30);
    font-weight: 500;
}
.article-content ul{
    list-style-type: none;
    padding: 0px;
}
.article-content p {
    color: var(--color-40);
}
.article-content h3 {
    font-weight: 500;
    color: var(--color-30);
}
.article-content .quote-list {
    margin-left: 1rem;
    padding-left: 1rem;
    color: var(--color-40);
    padding-top: 0px;
    box-shadow: inset 1px 0 0 0 var(--color-40);
    font-style: italic;
}
.article-content .bullet-list {
    list-style-type: disc;
    margin-left: 1rem;
    color: var(--color-40);
}
.article-button {
    width: 100%;
    height: 40px;
    padding-top: .6rem;
    padding-bottom: .6rem;
    background-color: var(--color-80);
    border-radius: 10px;
    border: 1px solid var(--color-70);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-30);
    transition: .5s ease-in-out;
}
.article-button:hover {
    transition: .5s ease-in-out;
    background-color: var(--color-70);
    border: 1px solid var(--color-60);
}
.article-image {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.article-image p {
    width: 100%;
    font-style: italic;
    text-align: center;
}
.article-content img {
    border-radius: 10px;
    width: 100%;
}
.long-image {
    object-fit: contain;
    max-height: 450px;
}
/* Articles End */





/* ----------------------- */
/* Footer Start */
footer {
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-70);
}
.footer-info {
    display: flex;
    color: var(--color-40);
    column-gap: 1rem;
    align-items: center;
}
footer a {
    text-decoration-color: var(--color-30);
}
footer p {
    color: var(--color-30);
}
footer a p {
    color: var(--color-30);
}
/* Footer End */
/* ------------------------ */

#particles-js{
    position: fixed;
    z-index: -1;
    height: 100vh;
}
/* Media Queries */
@media only screen and (max-width: 1400px) {
    .case-study-container {
        flex-direction: column;
    }
    .case-study-item {
        max-height: 450px;
    }
    .case-study-item {
        width: 100%;
    }
 }
@media only screen and (max-width: 1200px) {
    .home-buttons {
        flex-direction: column;
        row-gap: 4rem;
    }
    button {
        width: 300px;
    }
    .about-whole-container {
        flex-direction: column;
        /* align-items: flex-end; */
    }
    .about-right-container {
        width: 100%;
    }
    .education {
        margin-bottom: 3rem;
    }
    .contact-info {
        margin-top: 3rem;
    }
    .headhshot-large-screen {
        display: none;
    }
    .headhshot-small-screen {
        visibility:visible;
    }
    .smscreen-respons {
        align-items: flex-start;
    }
    .infobox {
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .headhshot-small-screen {
        display: none;
    }
}
@media only screen and (max-width: 950px) {
    #fold {
        flex-direction: column;
        row-gap: 5rem;
        padding: 20px;
    }
    button {
        width: 300px;
    }
    .home-buttons {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 1rem;
    }
    .button-text {
        font-size:1.25rem;/*20px*/line-height:1.75rem;/*28px*/
    }
    .about-whole-container {
        padding: 20px;
    }
    .case-study-image-container {
        display: none;
    }
    .case-study-text-container {
        width: 100%;
    }
    footer {
        padding: 1rem;
    }
    .footer-info {
        column-gap: .4rem;
    }
    .article-container {
        padding: 2rem;
        padding-top: 8rem;
    }
    .article-facts {
        flex-direction: column;
    }
    .article-facts-half {
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    .nav-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    #home-nav {
        margin-left: 0px;
    }
    #home-nav-line {
        margin-left: .5rem;
    }
    #design-nav{
        margin-right: 0px;
    }
    #design-nav-line {
        margin-right: .5rem;
    }
    .headhshot-small-screen { width: 100%;}
    .case-study-header {
        font-size:2.25rem;
        line-height:2.5rem;}
    .case-study-item {
        max-height: fit-content;
    }
}